body {
background-color:#f2f2f2;font-size: 16px;line-height: 24px;
}
img {
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
margin:0;
padding:0
}

a, a:hover {
text-decoration:none;
}

header .navbar {
border-radius:0;
border:0;
height:auto;
min-height:auto;
background-color:#31175a;
margin-bottom:0;
padding: 10px 0;
}

.navbar-header .navbar-brand {
color:#fff;
font-size:30px;
height: auto;
padding:0;
}

.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:focus {
color:#fff
}

.navbar .navbar-nav li a {
color:#fff;
font-size:16px
}

.navbar .navbar-nav li a:hover {
color:#fff
}

.navbar .navbar-nav li ul li a {color:#000;}
.navbar .navbar-nav li ul li a:hover{color:#000;}

.hero-wrap {
padding-bottom:50px;
padding-top:50px;
background-size:cover;
position:relative;
background-position:center
}

.hero-wrap:before {
content:"";
position:absolute;
left:0;
right:0;
bottom:0;
top:0;
background-color:#000;
opacity:.3
}

.hero-wrap h1 {
color:#fff;
position:relative;
margin:0;
font-size:62px;
text-align: center;
}

.frontend-form {
padding-bottom:70px;
padding-top:70px;
background-color:#f2f2f2
}

.frontfrom {
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
}

.frontfrom .form-group input {
	border: 1px solid #ddd;
    box-shadow: none;
    text-shadow: none;
    height: 42px;
}
.frontfrom .form-group select {
	border: 1px solid #ddd;
    box-shadow: none;
    text-shadow: none;
    height: 42px;
}
.frontfrom .form-group label {
	font-weight: 400;
}
.frontfrom .form-title h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}
.frontfrom hr {
	width: 100%;
	height: 1px;
	background-color: #f2f2f2;
	margin-bottom: 30px;
	display: inline-block;
	margin-top: 30px;
	border: 0;
}
footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #31175a;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	text-align: center;
}
footer p {
	margin-bottom: 0px;
}
.navbar-header .navbar-brand img {
    max-width: 180px;
}
.navbar .navbar-nav {
	margin-top: 15px;
}
.form-btn button {
	border: 0px;
	outline: none;
	text-decoration: none;
	padding: 10px 40px;
	font-size: 15px;
	line-height: 20px;
}
.form-btn button:focus {
	outline: none;
	border: 0px;
}
.form-btn button.btn-primary {
	background-color: #31175a;
}
.form-btn button.btn-danger {
	background-color: #ff423c;
}
.login-wrap {
	padding-bottom: 70px;
	padding-top: 70px;
	background-color: #f2f2f2
}
.login-wrap .login-form {
	padding: 30px;
	background-color: #fff;
	box-shadow: 0 1px 4px rgb(0 0 0 / 14%);
}
.login-form h2 {
	margin-bottom: 20px;
}
.login-form .form-group label {
	font-weight: 400;
	margin-bottom: 0px;
}
.login-form .form-group input {
	border: 1px solid #ddd;
    box-shadow: none;
    text-shadow: none;
    height: 42px;
}
.login-wrap .login-form button {
	background-color: #31175a;
	padding: 9px 30px;
	color: #fff;
	border: 0;
}
.login-form form {
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-toggle {
	margin-top: 32px;
	border: 0 !important;
	background-color: transparent;
}
.navbar-toggle:hover {
	background-color: transparent !important;
}
.navbar-toggle:focus {
	background-color: transparent !important;
}
.navbar-toggle span {
	background-color: #fff !important;
}
.navbar-toggle .icon-bar {
	width: 29px;
	height: 3px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #31175a;
}

.hero-home {
	padding-top: 130px;
	padding-bottom: 170px;
	background-size: cover;
	position: relative;
}

.hero-home h1 {
	font-size: 52px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 20px;
}
.hero-home p {
	font-size: 17px;
	color: #fff;
	line-height: 1.4;
}
.hero-home a {
	background: #ffc600;
	color: #fff;
	padding: 13px 40px;
	display: inline-block;
	border-radius: 60px;
	margin-top: 15px;
	font-size: 16px;
}
.about-us {
	padding-bottom: 70px;
	padding-top: 0;
	background-color: #fff;
}
.about-us .about-box {
	text-align: center;
}
.about-us .about-box .img {
	margin-bottom: 15px;
}
.about-us .about-box .info h3 {
	font-size: 24px;
	margin-bottom: 6px;
}
.about-us .about-box .info h4 {
	font-size: 17px;
}
.about-us .boxes-wrap {
	display: inline-block;
	width: 100%;
	background-color: #fff;
	margin-top: -80px;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	box-shadow: 0 -6px 24px rgba(10, 10, 10,0.09);
	border-radius: 10px;
}
.about-us .boxes-wrap .col-md-3 {
	border-right: 1px solid #ddd;
}
.about-us .boxes-wrap .col-md-3:last-child {
	border-right: 0px;
}
.about-collage {
	padding-bottom: 70px;
	background-color: #fff;
}
.about-collage .col-left img {
	border-radius: 10px;
}
.about-collage .col-right h2 {
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 600;
	color: #333;
}
.about-collage .col-right p {
	line-height: 1.6;
	font-size: 16px;
}
.our-university {
	padding-bottom: 70px;
	padding-top: 70px;
	background-size: cover;
	background-position: center center;
}

.our-university .inner-box {max-width: 700px;margin:35px auto;background-color: #1054ec;text-align:center;padding:35px;color: #fff;border:3px dashed #fff;}
.our-university .inner-box h2 {font-size: 26px;font-weight: 800;margin-bottom: 25px;}
.our-university .inner-box p {font-size: 16px;line-height: 26px;}

#courses-hm{padding: 80px 0;}
#courses-hm ul li {list-style: none;line-height: 34px;}
#courses-hm li a {font-size: 16px;color: #333;}
#courses-hm li a:hover {text-decoration: underline;}

#courses{padding: 30px 0;}
#courses ul li {list-style: none;line-height: 34px;}
#courses li a {font-size: 16px;color: #333;}
#courses li a:hover {text-decoration: underline;}


#title {
    padding: 55px 0;
    color: #fff;text-align: center;
}
#title h1 {font-size: 35px;font-weight: bold;}
.in-sect {padding: 60px 0}
.c-box {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-top: 7px solid #6c33c5;
    border-radius: 10px;
    margin-bottom: 45px;
}
.c-box:hover {box-shadow: 3px 0px 8px rgba(0,0,0,.3);transition: .5s ease}
.c-box h4 {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.c-box h2 {
    font-size: 22px;
    font-weight: 800;
    margin: 5px 0 10px;
    line-height: 26px;
    color: #6126bf;
}
.c-box p {padding: 10px 0}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    font-size: 18px;
    background: #6824d4;
}
.nav-tabs > li > a {font-size: 18px;color: #000}
.tab-content {
    padding: 25px;
    background: #fff;
}
.tab-content h3 {font-size: 22px;color: #6824d4;font-weight: bold;padding: 10px 0 5px}
.tab-content p {font-size: 16px;line-height: 26px;}
.tab-content ul {margin:0;padding: 0}
.tab-content li {list-style: none;font-size: 16px;line-height: 28px;}
.c-form {
    background: #f2f2f2;
    padding: 15px;
    border: 1px solid #ccc8c8;
    border-radius: 5px;
}
.c-form h3 {padding-bottom: 15px;}
p.fees {
	background: #f2f2f2;
    display: table;
    padding: 10px 15px;
    font-weight: 800;
    margin: 10px 0;
}

#contact {width: 100%;}
#contact .in-box {max-width: 100%;background-color: #fff;padding:25px;}
#contact .in-box h3 {font-size: 22px;color: #6824d4;font-weight: bold;padding: 10px 0 5px}
#contact .img-box {
    width: 100%;
    text-align: center;
    height: 450px;
    position: relative;
}
#contact .img-box img {
    max-width: 250px;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media only screen and (min-width: 992px) {
	#contact .in-box .form-group {display: flex;}
	#contact .in-box label {max-width: 140px;width: 140px;display:inline-table}
	#contact .in-box::after {clear: both;display: block;content: ''}
}
@media only screen and (max-width: 991px) {
	#contact .img-box {display: none;}
}


@media (max-width: 768px) {
	.frontfrom {
		padding: 30px 15px;
	}
	.hero-wrap h1 {
		font-size: 42px;
	}
	.navbar-header .navbar-brand img {
		width: 180px;
	}
	.navbar .navbar-nav {
		margin-top: 24px;
	}
	.hero-wrap {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.about-us .about-box {margin-bottom: 25px;}
	h2 {margin-top: 25px;}
}

@media (max-width: 767px) {
	.navbar .navbar-nav {
		margin-top: 0px;
	}
	.frontend-form {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.login-wrap .login-form {
		padding: 20px;
	}
	.login-wrap {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.login-form h2 {
		font-size: 24px;
	}	
	h2 {margin-top: 25px;}
	.about-us .about-box {margin-bottom: 25px;}
}

@media (max-width: 500px) {
	.form-btn button {
		margin-bottom: 10px;
	}
	.hero-wrap h1 {
		font-size: 32px;
	}
}
@media (max-width: 400px) {
	.form-btn button {
		padding: 10px 20px;
		width: 100%;
	}
}