body {
	padding:0;
	margin:0;
	overflow-x:hidden;
	box-sizing:border-box;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #f3f3f3;
}

ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-decoration: none;
}
ul li {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6,a {
	margin-bottom:0;
	margin-top:0
}
header {
	background-color: #348cd4;
	padding: 13px 30px 13px 0px;
	display: table;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
header .logo h3 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
}
.search-bar input {
	border: 0;
	padding: 10px 15px;
	background-color: rgba(255,255,255, 0.2);
	color: #fff;
	border-radius: 30px;
	outline: none;
	text-decoration: none;
	width: 100%;
}
.search-bar .submit-btn {
	position: absolute;
	top: 10px;
	right: 20px;
}
.search-bar .submit-btn button {
	border: 0;
	background: transparent;
	padding: 0;
	outline: none;
}
.search-bar .submit-btn button i {
	color: #fff;
}
.search-bar {
	position: relative;
}
.left-side-menu {
    width: 240px;
    background: #fff;
    bottom: 0;
    padding: 0px 0px;
    position: fixed;
    transition: all .2s ease-out;
    top: 69px;
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    z-index: 10;
}
.left-side-menu label {
	padding: 10px 20px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #6e768e;
    font-weight: 600;
}
.left-side-menu ul li a {
	color: #6e768e;
	display: block;
	padding: 13px 20px;
	position: relative;
	text-decoration: none;
	transition: all .4s;
	font-family: Roboto,sans-serif;
	font-size: 15px;
}
.left-side-menu ul > li > a:hover {
	background-color: #f7f7f7;
	color: #348cd4;
}
.left-side-menu ul li a i {
	display: inline-block;
	line-height: 1.0625rem;
	margin: 0 10px 0 3px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	font-size: 16px;
}
.left-side-menu ul li.label-title {
	padding: 10px 20px;
	pointer-events: none;
	cursor: default;
	font-size: 17px;
	text-transform: uppercase;
	color: #79797b;
	font-weight: 600;
}
.left-side-menu .menu-wrap {
	height: 100%;
	overflow-y: scroll;
	padding-top: 20px;
	padding-bottom: 20px;
}
.left-side-menu ul li .arrow-right {
	position: absolute;
	right: 0;
	top: 13px;
}
.left-side-menu .menu-wrap ul {
	padding-left: 30px;
	display: none;
}
.left-side-menu .menu-wrap ul li a {
	padding: 7px 20px;
}
.left-side-menu .menu-wrap ul li a:hover {
	background-color: transparent;
}
.search-bar input::placeholder {
	opacity: 1;
	color: #fff;
}

.page-content {
	background-color: #f3f3f3;
	margin-left: 240px;
	overflow: hidden;
	padding: 103px 20px 30px 20px;
	min-height: 100vh;
}
.page-content form {
	background-color: #fff;
	padding: 30px;
	margin: auto;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.03);
	border-radius: 6px;
}
.page-content form .form-row {
	margin-left: -15px;
	margin-right: -15px;
}
.page-content form .form-group label {
	font-weight: 400;
	font-size: 16px;
	color: #333;
}
.page-content form .form-group input {
	box-shadow: none;
	height: 40px;
}
.page-content form .form-group select {
	height: 40px;
}
.page-content form button {
	border: 0;
	padding: 9px 35px;
	font-size: 18px;
	margin-bottom: 10px;
}
.user {
	float: right;
}
.user .userimg img {
	border-radius: 100%;
	width: 44px;	
}
.user .userimg {
	float: left
}
.user .username {
	float: left;
	margin-top: 11px;
	margin-left: 10px;
}
.user .username h3 {
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	font-weight: 600;
}
.page-content .form-heading {
	
}
.page-content .form-heading h3 {
	margin-bottom: 20px;
	font-size: 25px;
	letter-spacing: 0;
	color: #333;
}
.user-menu {
	position: absolute;
	left: auto;
	right: 0px;
	top: 57px;
	background-color: #2883cd;
	width: 220px;
	padding: 20px 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;
}
.user-menu ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 0px;
	display: block;
}
.user .username h3 span {
	cursor: pointer;
}
.dashboard .top-cards {
	display: flex;
}
.dashboard .top-cards .card {
	border: 1px solid #ededed;
	background-color: #fff;
	padding: 20px 20px;
	width: 25%;
}
.top-cards .bodycard {
	display: flex;
	align-items: center;
}
.top-cards .bodycard .icon {
	
}
.top-cards .bodycard .icon i {
	color: #fff;
	background-color: #348cd4;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	text-align: center;
	line-height: 50px;
	font-size: 26px;
	margin-right: 10px;
}
.top-cards .bodycard .title h3 {
	font-size: 18px;	
}
.top-cards .bodycard .numbring {
	margin-left: auto;
}
.table-listing {
	background: white;
	margin-top: 30px;
	border: 1px solid #ededed;
}
.table-listing thead tr th {
	padding: 15px 20px;
}
.table-listing tbody tr td {
	padding: 15px 20px;
}
.table-listing tbody tr td .btn {
	
}
.table-listing table {
	margin-bottom: 0px;
}
.lower-card {
	margin-top: 30px;
}
.lower-card .main-card {
	background-color: #fff;
	padding: 20px;
	border: 1px solid #ededed;
	overflow-y: scroll;
	height: 400px;
}
.main-card .card-img {
	width: 60px;
}
.main-card .card-img img {
	width: 60px;
	border-radius: 100px;
}
.lower-card .main-card .card-info {
	padding-left: 15px;
	width: 90%;
}
.lower-card .main-card .card-info h3 {
	font-size: 23px;
	margin-bottom: 5px;
}
.lower-card .main-card .card-info p {
	font-size: 16px;
}
.lower-card .main-card .cardbox {
	display: flex;
	margin-bottom: 20px;
}
.lower-card .card-title h3 {
	margin-bottom: 10px;
}
body::-webkit-scrollbar, .lower-card .main-card::-webkit-scrollbar, .menu-wrap::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track, .lower-card .main-card::-webkit-scrollbar-track, .menu-wrap::-webkit-scrollbar-track {
  background: #e7e7e7;
}
 
body::-webkit-scrollbar-thumb, .lower-card .main-card::-webkit-scrollbar-thumb, .menu-wrap::-webkit-scrollbar-thumb {
  background: #cecece; 
}
.table-responsive {
	margin-bottom: 0px;
}
.logo {
	display: inline-block;
}
.toggle {
	cursor: pointer;
	display: none;
	padding-top: 0px;
	margin-right: 10px;
}
.toggle span {
	width: 27px;
	height: 4px;
	display: block;
	background-color: #fff;
	margin-bottom: 4px;
	border: 0;
	cursor: pointer;
	border-radius: 0;
}
.left-side-menu ul li a.active {
    background-color: #f6f6f6;
	color:#2883cd
}

/** ADMIN PANEL**/
/**new**/
.marks-form {
	padding: 20px 20px;
	background-color: #fff;
	display: inline-block;
	width: 100%;
}
.marks-form .subject-type {
	display: flex;
	align-items: center;
}
.marks-form .subject-type label {
	margin-bottom: 0;
	font-size: 17px;
	color: #555;
	font-weight: 400;
	width: 130px;
}
.marks-form .subject-type select {
	width: 100%;
	border: 1px solid #d0d0d0;
	color: #888;
	height: 41px;
	padding-left: 12px;
	font-size: 18px;
}
.marks-form .date-picker {
	display: flex;
	align-items: center;
}
.marks-form .date-picker label {
	margin-bottom: 0;
	font-size: 17px;
	color: #555;
	font-weight: 400;
	width: 130px;
}
.marks-form .date-picker input {
	width: 100%;
	border: 1px solid #d0d0d0;
	color: #888;
	height: 41px;
	padding-left: 12px;
	font-size: 16px;
	outline: none;
	text-transform: uppercase;
}
.student-marks {
	margin-top: 50px;
	display: inline-block;
	width: 100%;
}
.student-marks .table {
	margin-bottom: 0px;
}
.student-marks .table .marks-div input {
	width: 50px;
	height: 32px;
	border: 2px solid #cfcfcf;
	margin-right: 5px;
	outline: none;
	padding-left: 5px;
}
.student-marks .table td {
	font-weight: 500;
	font-size: 17px;
}
/**responsive**/

@media (max-width: 1100px) {
	.top-cards .bodycard {
		display: block;
		text-align: center;
	}
	.top-cards .bodycard .icon {
		margin-bottom: 15px;
	}
	.top-cards .bodycard .numbring {
		margin-top: 10px;
	}
}

@media (max-width: 992px) {
	.lower-card .main-card {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.search-wrapper {
		display: none;
	}
}

@media (max-width: 767px) {
	header {
		padding: 13px 0px 13px 0px;
	}
	.dashboard .top-cards {
		display: table;
		width: 100%;
	}
	.dashboard .top-cards .card {
		width: 50%;
		float: left;
	}
	.left-side-menu {
		left: -242px;
	}
	.page-content {
		margin-left: 0px;
	}
	.toggle {
		display: inline-block;
	}
	.search-wrapper {
		display: none;
	}
}

@media (max-width: 650px) {
	.page-content form button {
		font-size: 16px;
		padding: 6px 21px;
	}
	.lower-card .main-card {
		height: 600px;
	}
	.page-content {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 451px) {
	.logo {
		display: none;
	}
	.toggle {
		margin-top: 14px;
	}
}

@media (max-width: 351px) {
	.dashboard .top-cards .card {
		width: 100%;
	}
	.lower-card .main-card .cardbox {
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.lower-card .main-card .card-info {
		padding-left: 0px;
		width: 100%;
		text-align: center;
	}
	.main-card .card-img {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
}
.left-side-menu.active {
	left: 0px;
}
